
			*{
				box-sizing: border-box;
				font-family: Roboto;
			}
			body{
			    margin: 0;	
			}
			header{
				background-color: #2196F3;    
				min-height: 50px;
			}
			header .brand{
				display: inline-block;
				padding: 8px;
				position: absolute;
				top: 0;
				text-decoration: none;
				white-space: nowrap;
			}
			header .brand>img{
				display: inline-block;
				max-height: 34px;
				width: auto;
				vertical-align: top;
			}
			header .brand>h1{
				display: inline-block;
				margin: 0;
				line-height: 34px;
				vertical-align: top;
				color: white;
				font-weight: 400;
			}
			
			#triger-mobile{
				display: none;
				position: absolute;
				top: 0;
				cursor: pointer;
				margin-left: 0%;
				z-index: 20;
				-webkit-transition: margin-left 0.3s ease-io-out; /* Safari */
				transition: margin-left 0.3s ease-in-out;
			}
			#triger-mobile>.triger-mobile-container{
				box-sizing: content-box;
				width: 24px;
				background: none;
				border: 0;
				padding: 16px;
				margin: 0;
				outline: none;
				-webkit-transition: background 0.3s ease-io-out; /* Safari */
				transition: background 0.3s ease-in-out;
			}
			#triger-mobile>.triger-mobile-container>span{
				display: block;
				height: 3px;
				background-color: white;
				width: 100%;
			}
			#triger-mobile>.triger-mobile-container>span:not(:last-child){
				
				margin-bottom: 4px;
			}
			#mm-enabled{
				display: none;
			}
			
			
			nav#nav{
				border-right: 1px solid rgba(0,0,0,0.4);
				-webkit-transition: width 3s ease-io-out; /* Safari */
				transition: width 0.3s ease-in-out;
			}
			nav>ul{
				list-style: none;
				margin: 0;
				padding: 0;
			}
			nav>ul>li{
				line-height: 30px;
				background-color: #1976D2;
				display: inline-block;
				position: relative;
			}
			
			nav>ul>li>a{
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				display: inline-block;
				padding: 0 15px;
			}
			nav>ul>li>a, nav>ul>li>label{
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			nav>ul>li>input{
				display: none;
			}
			nav>ul>li>label{ 
				display: none;			
				height: 46px;
				width: 46px;
				text-align: center;
				position: absolute;
				right: 0;
				top: 0;
				background: #90CAF9;
				font-size: 24px;
				cursor: pointer;
			}
			
			.dropdown-menu{
				display: inline-block;
				position: absolute;
				padding: 0;
				list-style: none;
				left: 0;
				min-width: 100%;
				background-color: #2962FF;
				overflow: hidden;
				transition: max-height 0.4s;
			}
			.dropdown-menu>li{
			}
			.dropdown-menu>li>a{
				color: white;
				text-decoration: none;
				font-weight: bold;
				font-size: 14px;	
				line-height: 30px;
				padding: 0 15px 0 15px;
				display: block;
				white-space: nowrap;
			}
			
			
			section{
				display: inline-block;
				width: 75%;
				margin: 16px 0 0 0;
				padding: 0 15px;
			}
			section>article{
			    background-color: #6C98CC;
				border: 1px solid black;
				padding: 10px;
				margin-bottom: 10px;
			}
			section>article h2{
				margin: 0;
			}
			section>article p{
				margin: 10px 0 0;
			}
			aside{
				display: inline-block;
				width: 24%;
				margin: 16px 0 0 0;
				padding: 0 15px;
				background-color: gray;
				vertical-align: top;
				padding: 10px;
				text-align: center;
				color: white;
			}
			footer{
				    background-color: #145FB7;
					padding: 16px;
					color: white;
					font-size: 20px;
					font-weight: bold;
					text-align: center;
			}
			
			.fancySearchContainer{
				text-align: right;
				height: 50px;
			}
			.fancySearch{
				height: inherit;
				display: inline-block;
				position: relative;
			}
				.fancySearch input{
					height: 100%;
					vertical-align: top;
					outline: 0;
					position: absolute;
					right: 0;
					width: 50px;
					opacity: 0;
					cursor: pointer;
					border: 0;
					border-right: 0;
					background-color: #1565C0;
					font-size: 24px;
					color: white;
					transition: width 0.6s, opacity 0.4s;
				}
				.fancySearch input::-webkit-input-placeholder{
					color: rgba(255,255,255,0.5);
				}
				.fancySearch input:-moz-placeholder{
					color: rgba(255,255,255,0.5);
				}
				.fancySearch input::-moz-placeholder{
					color: rgba(255,255,255,0.5);
				}
				.fancySearch input:-ms-input-placeholder{
					color: rgba(255,255,255,0.5);
				}
				.fancySearch button{
					float: right;
					height: 100%;
					padding: 12px;
					background: none;
					border:1px solid red;
					border: 0;
					outline: 0;
					cursor: pointer;
					transition: background 0.3s;
				}
				.fancySearch input:focus + button{
					background-color: #1565C0;
				}
				.fancySearch input:not(:focus) + button{
				}
				.fancySearch input:focus{
					right: 50px;
					width: 200px;
					opacity: 1;
					padding-left: 10px;
					cursor: initial;
				}
				.fancySearch input:not(:focus){
					transition: opacity 0.4s, right 0s 0.4s, width 0.6s, padding-left 0s 0.6s;
				}
				.fancySearch img{
					height: 100%;
					width: auto;
				}			
			@media (min-width: 751px) {
				#triger-mobile:hover >.triger-mobile-container{
					background-color: rgba(255,255,255,0.3);
				}
				.dropdown-menu{
					max-height: 0;
					top: 30px;
				}
				nav{
					margin-top: 16px;
				}
				nav>ul{
					text-align: center;
					display: flex;
					justify-content: center;
				}
				nav>ul>li:not(:last-child){
					border-right: 1px solid rgba(255,255,255,0.4);
				}
				nav>ul>li:hover{
					background-color: #0D47A1;
				}
				nav>ul>li:hover .dropdown-menu{
					display: inline-block;
					max-height: 150px;
				}
				.dropdown-menu>li:hover{
					background-color: #0D47A1;
				}
				
				
			}
			
			@media (max-width: 750px) {
				header .brand{
					padding: 8px;
					position: static;
					top: 0;
				}
				
				#triger-mobile{
					display: block;
					background: none;
				}
				nav#nav{
					overflow: hidden;
					position: absolute;
					height: 100%;
					top: 0;
					background: #0D47A1;
					width: 0;
					outline: none;
				}
				nav>ul>li{
					display: block;
					line-height: 46px;
				}
				nav>ul>li>a{
					padding-left: 15px;
					width: 100%;
					border-bottom: 1px solid rgba(0,0,0,0.4);
				}
				
				nav>ul>li>label{
					display: inline-block;
				}
				nav>ul>li>input:checked ~ .dropdown-menu{
					height: auto;
				}
				nav>ul>li>input:not(:checked) ~ .dropdown-menu{
					height: 0;
				}
			
				.dropdown-menu{
					display: block;
					position: relative;
					background-color: #90CAF9;
				}
				.dropdown-menu>li>a{
					line-height: 46px;
					border-bottom: 1px solid rgba(0,0,0,0.2);
					color:black;
				}
				header nav>ul>li{
					padding: 0;
				}
				
				#mm-enabled:checked ~ #nav{
					width: 70%;
				}
				#mm-enabled:not(:checked) ~ #nav{
					border: 0;
				}
				#mm-enabled:checked ~ #triger-mobile{
					position: fixed;
					width: 100%;
					height: 100%;
					margin: 0;margin-left: 70%;
					background-color: rgba(0,0,0,0.6);
					-webkit-transition: margin-left 0.3s ease-io-out, background 0.3s ease-io-out;
					transition: margin-left 0.3s ease-in-out, background 0.3s ease-io-out;
				}
				#mm-enabled:checked ~ #triger-mobile .triger-mobile-container{
					background-color: #1976D2;
				}
				
				section, aside{
					width: 100%;
				}
			}